.outer {
    margin-left: 100px;
}

.wrapper{
    width: 500px;
    height: 500px; 
    overflow-x:scroll;     
    white-space: nowrap;
    display: inline-block;
}

.slide{
    background: #ccc;
    width: 500px;
    height: 500px;
    display: inline-block;
}