<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
    </script>
    <title>Index</title>
</head>

<body onload="brython()">
    <script type="text/python"></script>
    
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile" multiple><br><br>

    <button id="echo">load</button>
    
    <div class="outer">
        <div class="wrapper">   
            <div id="slider1" class="text-center">
                <div class="slide" id="slide1">Axial</div>
            </div>
        </div>
        <div class="wrapper">   
          <div id="slider2" class="text-center">
              <div class="slide">Sagittal</div>
          </div>
        </div>
        <div class="wrapper">   
          <div id="slider3" class="text-center">
              <div class="slide">Coronal</div>
          </div>
        </div>
        <div class="wrapper">   
          <div id="slider4" class="text-center">
              <div class="slide">3D</div>
          </div>
        </div>
    </div>
</body>

</html>