<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
    </script>
    <title>Index</title>
</head>

<body onload="brython()">
    <script type="text/python" src="{{ url_for('static', filename='bry/test.bry') }}"></script>
    
    <form method="POST" action="/index" enctype="multipart/form-data">
      <input type="file" id="myfile" name="myfile" accept=".dcm" multiple><br><br>
    </form>

    <button id="upload">upload</button><br><br>
    <button id="loadimg">load img</button>
    
    <div class="outer">
        <div class="wrapper">   
            <div id="slider1" class="text-center">
                <div class="slide">Axial</div>
            </div>
        </div>
        <div class="wrapper">   
          <div id="slider2" class="text-center">
              <div class="slide">Sagittal</div>
          </div>
        </div>
        <div class="wrapper">   
          <div id="slider3" class="text-center">
              <div class="slide">Coronal</div>
          </div>
        </div>
        <div class="wrapper">   
          <div id="slider4" class="text-center">
              <div class="slide">3D</div>
          </div>
        </div>
    </div>
</body>

</html>