<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/python" src="{{ url_for('static', filename='bry/test.bry') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>
    <script src="https://threejs.org/build/three.js"></script>
    <script src="https://threejs.org/examples/js/loaders/NRRDLoader.js"></script>
    <script src="https://threejs.org/examples/js/libs/fflate.min.js"></script>
    <script src="https://threejs.org/examples/js/misc/Volume.js"></script>
    <script src="https://threejs.org/examples/js/shaders/VolumeShader.js"></script>
    <!-- <script src="https://threejs.org/examples/js/capabilities/WebGL.js"></script> -->
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <title>Index</title>
</head>

<body onload="brython(1)">
    <form method="POST" action="/index" enctype="multipart/form-data">
      <input type="file" id="myfile" name="myfile" accept=".dcm" multiple><br><br>
    </form>

    <button id="upload">upload</button><br><br>
    <!-- <div id="percentage">No file(s) loaded</div> -->
    <button id="loadimg">load img</button>
    
    <div class="outer">
        <div class="wrapper">   
            <div id="slider1" class="text-center">
                <div class="slide">Axial</div>
            </div>
        </div>
        <div class="wrapper">   
          <div id="slider2" class="text-center">
              <div class="slide">Sagittal</div>
          </div>
        </div>
        <div class="wrapper">   
          <div id="slider3" class="text-center">
              <div class="slide">Coronal</div>
          </div>
        </div>
        <div class="wrapper">   
          <div id="slider4" class="text-center">
              <div class="slide" id="slide4">3D</div>
          </div>
        </div>

        <div id="test"></div>

    </div>
</body>

</html>